.searchButton{
  border: none;
  background:none;
 
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;

  transition: 0.8s;
  position: relative;
  overflow: hidden;
  margin-left: -220px;

}
.searchButton:hover{
  color: green;
}
.searchButton::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}
.searchButton::before{
  top: 0;

  border-radius: 0 0 50% 50%;
}
.searchButton::before{
  bottom: 0;
  border-radius: 50% 50% 0 0 ;
}

